<div class="row">
<div class="col-sm-6 col-sm-offset-3 text-center">Congratulations, {{player.name}}!</div>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center"> You have aquired {{currentScore}} points!</div>
</div>

<div class="row text-center">
    Your total score is: {{totalScore}}
</div>
<div class="row text-center">
    <div><a ui-sref="main" class="btn btn-info btn-lg  black-button some-margins" ng-click='startGame()' ng-disabled="!numberOfQuestions">RESTART</a></div>
</div>

<div class="row text-center col-xs-10 col-xs-offset-1">
    <table st-table="highScore" class="table table-striped">
        <thead>
        <tr class="text-center">
            <th class="text-center">Name</th>
            <th class="text-center">Score</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in highScore">
            <td class="text-center">{{row.name}}</td>
            <td class="text-center">{{row.totalScore}}</td>
        </tr>
        </tbody>
    </table>
</div>
