.blk {
    display: block;
}
.disabled {
    opacity: 1 !important;
}
html,
body {
    height: 100%;
}
.container {

}
.biggerHeight {
    height: 50%;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.top10 {

}
.autoMargin {
    margin: 20% 2.5% 20% 2.5%;
}
.answerBtn {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar-inverse.black {
    background-color: #141414;
}
.checkMark {
    height: 35px;
}
.bold {
    font-weight: bold;
}
.some-margins {
    margin-top: 20px;
    margin-bottom: 20px;
}
.black-button {
    background-color: black !important;
    border-color: black !important;
}
.bigHeight {
    height: 95%;
    border: solid 3px;
}
.mainContainer {
    height: 100%;
}
.fullHeight {
    height: 100%;
}
.gradient {
    background: linear-gradient(#A4A4A4, #BDBDBD, #D8D8D8, #E6E6E6)
}
.noPadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.chunky-disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.fullWidth {
    width: 100% !important;
}

div.chunky a {
    display: block;
}

.pressed {
    box-shadow: 0px 0px 6px 4px #7F7BB5; 
}

* {box-sizing:border-box;}